#top {
    background: #388087;
    width: 100%;
    height: 50px;
    color: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

#command_bar {
    background: #6FB3B8;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 50px;
    left: 0px;
    z-index: 2;
}

.analysis_section {
    background: #C2EDCE;
    width: 99%;
    min-height: 200px;
    margin: 10 10 10 10;
    padding: 5px;
    border-radius: 10px;
}

.section_sub_container {
    margin: 1% 1% 1% 1%;
    width: 98%;
    height: 60%;
}


.shaded_container {
    background: rgba(10, 34, 10, 0.06);
    border-radius: 10px;
    margin: 1% 1% 1% 1%;
    display: flex;
}

.margin1 {
    margin: 1% 1% 1% 1%;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #388087;
    color: white;
    text-align: center;
}

body {
    background: #F6F6F2;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 130px 0 50px;
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
    max-width: 98%;
    -webkit-font-smoothing: antialiased;
    border-radius: 5px;

    text-align: center;
    color: black;
}

/* CSS */
button {
  background-color: #C2EDCE;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 40px;
  width: 130px;
}

button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05);
}

.analysis_input {
    width: 80px;
}

.fast_call_group {
    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
    -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
    box-shadow: 0px 10px 14px -7px #3e7327;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#77b55a;
    width: 89%;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
    margin: 0px 10px 0px 10px;
    color: #000000;
}

.normal_call_group {
    -moz-box-shadow: 0px 10px 14px -7px #8f891b;
    -webkit-box-shadow: 0px 10px 14px -7px #8f891b;
    box-shadow: 0px 10px 14px -7px #8f891b;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d6d020), color-stop(1, #d6d090));
    background:-moz-linear-gradient(top, #d6d020 5%, #d6d090 100%);
    background:-webkit-linear-gradient(top, #d6d020 5%, #d6d090 100%);
    background:-o-linear-gradient(top, #d6d020 5%, #d6d090 100%);
    background:-ms-linear-gradient(top, #d6d020 5%, #d6d090 100%);
    background:linear-gradient(to bottom, #d6d020 5%, #d6d090 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#d6d020;
    width: 89%;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #8f891b;
    display:inline-block;
    cursor:pointer;
    color: #000000;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #8f891b;
    margin: 0px 10px 0px 10px;
}

.slow_call_group {
    -moz-box-shadow: 0px 10px 14px -7px #90481a;
    -webkit-box-shadow: 0px 10px 14px -7px #90481a;
    box-shadow: 0px 10px 14px -7px #90481a;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d67720), color-stop(1, #d67760));
    background:-moz-linear-gradient(top, #d67720 5%, #d67760 100%);
    background:-webkit-linear-gradient(top, #d67720 5%, #d67760 100%);
    background:-o-linear-gradient(top, #d67720 5%, #d67760 100%);
    background:-ms-linear-gradient(top, #d67720 5%, #d67760 100%);
    background:linear-gradient(to bottom, #d67720 5%, #d67760 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#d67720;
    width: 89%;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #90481a;
    display:inline-block;
    cursor:pointer;
    color: #000000;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #90481a;
    margin: 0px 10px 0px 10px;
}

.unacceptable_call_group {
    -moz-box-shadow: 0px 10px 14px -7px #7e221b;
    -webkit-box-shadow: 0px 10px 14px -7px #7e221b;
    box-shadow: 0px 10px 14px -7px #7e221b;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d63820), color-stop(1, #d63850));
    background:-moz-linear-gradient(top, #d63820 5%, #d63850 100%);
    background:-webkit-linear-gradient(top, #d63820 5%, #d63850 100%);
    background:-o-linear-gradient(top, #d63820 5%, #d63850 100%);
    background:-ms-linear-gradient(top, #d63820 5%, #d63850 100%);
    background:linear-gradient(to bottom, #d63820 5%, #d63850 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#d63820;
    width: 89%;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #7e221b;
    display:inline-block;
    cursor:pointer;
    color: #000000;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7e221b;
    margin: 0px 10px 0px 10px;
}

#responses_table, #response_summary_table, #requests_table, #requests_summary_table, #failures_amount_table, #failures_by_reason_table {
    overflow: auto;
    width: 100%;
    height: 80%;
}

#responses_table th, #response_summary_table th, #requests_table th, #requests_summary_table th, #errors_table th, #failures_amount_table th,
#failures_by_reason_table th {
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(linear, left bottom, left top, color-stop(0.02, rgb(123,192,67)),
    color-stop(0.51, rgb(139,198,66)), color-stop(0.87, rgb(158,217,41)));
    background: -moz-linear-gradient(center bottom, rgb(123,192,67) 3%, rgb(139,198,66) 52%, rgb(158,217,41) 88%);
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

#responses_table td, #response_summary_table td, #requests_table td, #requests_summary_table td, #test_case_desc td,
#errors_table td, #failures_amount_table td, #failures_by_reason_table td{
    text-align:center;
    vertical-align: top;
    background-color:#DEF3CA;
    border: 1px solid #BED3AB;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    max-width: 30%;
}